.a9 {
    background-color: red;
    height: 60px;
    width: 60px;
}
.b9 {
    background-color: green;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
.c9 {
    border-width: 0.2mm;
    border-color: rgb(200, 199, 199);
    border-style: solid; /*border didn't appeared initially without this */
    display: inline-block;
    padding-left: 14px;
    padding-bottom: 14px;
    padding-right: 90px;
}
.d9a {
    display: inline-block;
    background-color: rgb(52, 50, 50);
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 25px;
}
.d9b {
    font-family: Arial;
    font-weight: bold;
    margin-top: 0px;
    color: white;
    font-size: 30px;
    margin-bottom: 0px;
}
.d9c {
    font-family: Arial;
    color: rgb(164, 162, 162);
    font-size: 20px;
    width: 480px;
}
.e9a {
    /* remember this */
    display: inline-flex;
    align-items: center;
    padding-left: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 10px;
    box-shadow: 0 0 3px grey;
    border-radius: 4px;
}
.e9b {
    height: 34px;
    width: 34px;
    object-fit: cover;
    object-position: right;
    border-radius: 17px;
    align-items: center;

}
.e9c {
    text-align:right;
    font-family: Arial;
    color: grey;
    padding-left: 7px;
    padding-right: 80px;
    font-size: 12px;
}
.e9d {
    color: white;
    background-color: rgb(0, 110, 255);
    font-weight: bold;
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 12px;
    border-radius: 15px;
}
.f9a {
    box-shadow: 0 0 3px grey;
    display: inline-block;
    margin-left: 5px;
}
.f9b {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: right;
}
.f9c {
    margin-left: 6px;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 6px;
}
.f9d {
    margin-left: 6px;
    font-family: Arial;
    font-size: 12px;
    color: grey;
    margin-top: 4px;
    margin-bottom: 0px;
}
.f9e {
    margin-left: 6px;
    margin-top: 9px;
    font-family: Arial;
    color: white;
    background-color: rgb(0, 110, 255);
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 16px;
    padding-left: 16px;
    border: none;
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.f9f {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position:center;
}
.f9g {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position:center;
}